<h1>Film Name</h1>
<div class="headercard">
  <ul>
    <li>Film Description:</li>
    <p>Film Description</p>
  </ul>
</div>
<br><br>
<div></div>
<h2>CHARACTERS</h2>

  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
<h2>PLANETS</h2>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
<h2>VEHICLES</h2>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

