
  <ul>
    <li>
        <div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="#">Catalog</a></li>
            <li><a href="#">People</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    </li>
    <li><h1>STAR WARS LOGO</h1></li>
    <li>
      <form action ="">
      <input type ="search" placeholder ="search">
      </form>
      <!--<button>s</button>-->
    </li>
  </ul>

  

