
* { margin: 0; padding: 0; border: none; }

h1{
  color: black;
  font-family: 'Staatliches', cursive;  
}

.container{
  margin: 100px 100px 0px 100px;
}


h2{
  color: black;
  font-family: 'Staatliches', cursive;  
  font-size: 18px;
}

p {
  color: white;
  font-family: Arial;
}

title{
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
}

hr{
  display: block;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid yellow;

}